.company{
	position: relative;
    overflow: hidden;
    margin: 20px auto;
    width: 980px;
	
    border: 1px solid #b3b3b3;
    border-radius: 20px;
    background: #fff;

}

.top-line{
	border-bottom: 1px solid #b3b3b3;
	padding: 10px 0;

}
.top-text{
	padding: 0 18px;
	color: #b3b3b3;
    font-weight: 400;
    font-size: 13px;
}
.top-text2{
	padding: 0 10px;
	color: #b3b3b3;
    font-weight: 400;
    font-size: 13px;
    color: #4b686f;
}
.inner-h1{
	margin: 10px auto;
	padding-left: 18px;
	color: #5b5b5b;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
}


.price{
	  display: block;
    float: left;
    width: 250px;
    margin-bottom: 10px;
    color: #323232;
    font-weight: bold;
    font-size: 35px;
}
.price-2{
	margin:8px 0 10px;
	padding-left: 35px;
    color: #999;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
   
}
.price-3{
  font-weight: 500;
  font-size: 19px;
  display: inline;
  color: #999;

   
}
.buy{
	display: flex;
    margin:0 auto;
    text-align: center;
    text-decoration: none;
    width: 160px;
    font-size: 15px;
    height: 40px;
    justify-content: center;
    align-items: center;
    
    background:linear-gradient(#337AB7,#AFEAFF);
    border: none;
    border-radius: 4px;
	position: relative;
	right: 18px;
}
.buy a{

    color: #211a06;
    text-decoration: none !important;

}


.hr{
	border-bottom: 1px solid #b3b3b3;
	border-top: 1px solid #b3b3b3;
	width: 215px;
	height: 70px;
	position: absolute;
	left:0px;
}
.glyphicon-time{
    font-size: 20px;
    font-weight: bold;
    color: #999;
}


.top-top-line{
	border-bottom: 1px solid #b3b3b3;
	padding: 18px 18px;
	background: #ebebeb;

}
.bot-line{
	border-top: 1px solid #b3b3b3;
	padding: 25px 0;
	background: #ebebeb;
	margin-top: 20px;

}








.btn-checked{
    display: inline;
    float: left;
    padding: 9px 0px;
	padding-left: 37px;
    color: #556774;
    font-weight: 400;
    font-size: 15px;
    border-radius: 25px;
    background: #ffc600;

}

.btn-checked:active{
	border-radius: 25px;
    background: #ffc600;
    color: #624712;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

}
.oth{
	display: inline;
    float: left;
    padding: 9px 10px;
    color: #556774;
    font-weight: 400;
    font-size: 15px;
    padding-right: 15px;
}
.oth a, .btn-checked a{
	border-bottom: 1px dashed ;
    text-decoration: none;
    color: #0a1631;
}
.ques{
	display: inline;
    float: left;
    padding: 9px 0;
    color: #556774;
    font-weight: 400;
    font-size: 15px;
    padding-right: 15px;
}
.ques a{
	border-bottom: 1px dashed #747474;
    text-decoration: none;
	color: #30a2e9;
}




.map,.video{

	padding: 10px;
	
	width: 550px;
}
.head-p{
	    margin-bottom: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
}
.infotext ul{
	    list-style: disc;
	    padding-left: 8px;
}
.infotext ul li{
	    margin: 10px;
}





.def{

    width: 414px;
    height: 50px;
    cursor: pointer;
    margin-top: 8px;
    background-color: #f9f8f6;
	padding-left: 18px;
	position: relative;
	left: 25px;
}
.def-img{

	left: 18px;
	top: 7px;
    width: 30px;
    height: 30px;
	background: url(../images/shield.png);

}
.def-txt{

    color: #313131;
    font-size: 16px;
    line-height: 43px;
	padding-left: 60px;
}
.def a{
	text-decoration: none;
}


